<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a class="bars-lnk" (click)="toggleMenu()">
          <i class="fa fa-2x fa-bars"></i>
          <img id="logo" src="assets/img/editor.logo.white.png">
      </a>
      <span class="version"><em>build: {{ version }}</em></span>
    </li>
    <li></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a (click)="getHash()"><i class="fa fa-lg fa-share-square-o"></i>&nbsp;&nbsp;Get link</a></li>
    </ul>
  </section>
</nav>

<!-- modal -->
<div *ngIf="showModal" class="modal-wrapper">
  <div class="modal-inner" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="modal-topbar">
      <span><i>&nbsp;&nbsp;Limited to 1000 characters</i></span><a class="modal-close-btn" aria-label="Close" (click)="showModal = false"><i class="fa fa-lg fa-close"></i></a>
    </div>
    <div class="link-area">
      <textarea id="dlnk" style="resize: none;">{{hashText}}</textarea>
    </div>
  </div>
</div>
<!-- end modal -->