<div class="lateral-menu" [@leftState]="state">
  <div  class="lateral-menu-content">
    <div class="title">Options</div>
    <div class="lateral-menu-content-inner">

      <div *ngFor="let key of keys(checkOpts)">
          <input id="checkOpts-{{key}}" (change)="checkValueChanged()" type="checkbox" [(ngModel)]="checkOpts[key]"/>
          <label for="checkOpts-{{key}}" class="inline">{{ key }}</label>
      </div>

      <div *ngFor="let key of keys(numOpts)">
            <label for="numOpts-{{key}}">{{ key }}</label>
            <input id="numOpts-{{key}}" type="number" 
                  [(ngModel)]="numOpts[key]" (input)="numValueChanged()"/>
      </div>

      <div *ngFor="let key of keys(textOpts)">
          <label for="textOpts-{{key}}">{{ key }}</label>
          <input id="textOpts-{{key}}" type="text"
              [(ngModel)]="textOpts[key]" (input)="textValueChanged()"/>
      </div>
      <hr>
      <div>
        <label for="showdownVersion">Showdown Version</label>
        <select name="versions" [(ngModel)]="activeVersion" (change)="onVersionChange()">
          <option *ngFor="let version of versions" [ngValue]="version">
            {{ version }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>